{% extends 'base.html' %}

{% block content %}

{% load static %}
{% load socialaccount %}

<section class="min-vh-100 py-5 px-2 px-md-3">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body p-4 p-md-5">

            <!-- Messages -->
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success mt-3">
                      <p>{{ message }}</p>
                  </div>
                {% else %}
                  <div class="alert alert-danger mt-3">
                      <p>{{ message }}</p>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}

            <!-- Header -->
            <div class="mb-4 text-center">
              <h4 class="card-title">Forgot Password</h4>
            </div>

            <!-- Description -->
            <p class="text-center">Enter your email address and we'll send you a link to reset your password.</p>

            <!-- Form -->
            <form action="{% url 'forgot_password' %}" method="POST">
              {% csrf_token %}
              <div class="mb-3">
                <label>Email Address</label>
                <input type="email" placeholder="Enter Email" name="email" class="form-control">
              </div>

              <div class="mb-3 text-center">
                Remembered your password? <a href="{% url 'login' %}">Log in here</a>.
              </div>

              <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
              </div>

              {% if form.errors %}
              <div class="alert alert-danger mt-3">
                {{ form.non_field_errors }}
                {% for field in form %}
                  {% for error in field.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                {% endfor %}
              </div>
              {% endif %}
            </form>

          </div> <!-- card-body -->
        </div> <!-- card -->
      </div> <!-- col -->
    </div> <!-- row -->
  </div> <!-- container -->
</section>

{% endblock %}