{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}

{% block content %}

{% if request.GET.command == 'verification' %}
<section class="min-vh-50 py-5" style="background-color: #f8f9fa;">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="alert alert-info text-center shadow-sm border-0 rounded-4">
          An email was sent to your inbox. Please verify to continue with login.
        </div>
      </div>
    </div>
  </div>
</section>
{% else %}

<section class="min-vh-100 py-5" style="background-color: #f8f9fa;">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-sm border-0 rounded-4">
          <div class="card-body p-5">

            <!-- Messages -->
              {% if messages %}
                  {% for message in messages %}
                      {% if message.tags == 'success' %}
                      <div class="alert alert-success my-4">
                          <p>{{ message }}</p>
                      </div>
                      {% else %}
                      <div class="alert alert-danger">
                          <p>{{ message }}</p>
                      </div>
                      {% endif %}
                  {% endfor %}
              {% endif %}

            <!-- Header -->
            <div class="mb-4 text-center">
              <h3 class="fw-bold">Reset Password</h3>
              <p class="text-muted">Enter your new password</p>
            </div>

            <!-- Django login form -->
            <form action="{% url 'resetPassword' %}" method="POST">
              {% csrf_token %}

              <div class="mb-3">
                <label class="form-label"><strong>Password</strong></label>
                <input type="password" name="password" placeholder="Enter Password" class="form-control form-control-lg" required>
              </div>

              <div class="mb-3">
                <label class="form-label"><strong>Confirm Password</strong></label>
                <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control form-control-lg" required>
              </div>

              <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
              </div>

            </form>

            <!-- Register link -->
            <p class="text-center mt-4 text-muted">
              Don't have an account? <a href="{% url 'account_signup' %}" class="text-decoration-none">Sign up here</a>.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endif %}

<style>
.btn-outline-dark:hover {
    background-color: #f1f1f1;
}

.card {
    border-radius: 1rem;
}

</style>

{% endblock %}